# Git
.git
.gitignore

# Documentation
README.md
*.md

# Python
__pycache__
*.py[cod]
*$py.class
*.pyc
locustfile.py

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
